$bg-dark: #030303;
$bg-dark-red: #710707;
$font-gold: #9d8665;
$font-white: #fff;
$font-size-xl: 32px;
$font-size-md: 28px;
$font-size-sm: 22px;
$font-size-xs: 18px;
$padding-desktop: 0 calc(50vw - 720px);
$font-weight-thin: 100;
$font-weight-regular: 400;
$font-weight-light: 300;
