@media (max-width: 1700px) {
  :root {
    --font-size-xl: 28px;
    --font-size-md: 24px;
    --font-size-sm: 20px;
    --font-size-xs: 16px; }

  .header,
  section,
  .footer__wrapper {
    padding: 0 30px; }

  .copyright {
    padding: 50px 25px; }

  .main-title {
    font-size: var(--font-size-xl); }

  .text-title {
    font-size: 65px; }

  .explore__img img {
    max-width: 50vw; }

  .picture__container {
    max-height: 1600px; }
  .picture__container-inner {
    row-gap: 1vw;
    max-height: 185vw; }

  .gallery__img-wrapper {
    max-width: 30vw; }

  .tickets__image {
    max-width: 700px; }
  .tickets__form {
    flex-grow: 1;
    width: auto; }

  .booking__form-wrapper {
    padding: 90px; }

  .contacts__map {
    max-width: 70vw; }
  .contacts__map img {
    width: 100%; } }
@media (max-width: 1200px) {
  .hide {
    display: none; }

  .text-title {
    font-size: 50px;
    line-height: 70px; }

  .welcome .text-title {
    line-height: 90px; }

  .header__nav {
    max-width: 700px; }

  .picture__container {
    max-height: 1195px; }

  .tickets__form-wrapper-close {
    right: 5px; }
  .tickets__amount-container {
    max-width: 175px; }

  .booking__form-wrapper {
    padding: 70px 10px 10px; }
  .booking__form__count-wrapper {
    padding-top: 10px;
    font-size: 18px; }

  .booking__header {
    margin-bottom: 15px;
    line-height: 55px; }

  .booking__title,
  .count__title {
    font-size: 18px; }

  .overview__title {
    font-size: 32px; }
  .overview__img {
    margin-bottom: 30px; }
  .overview__date, .overview__time, .overview__type {
    font-size: 18px;
    line-height: 21px; }
  .overview__detalization__item {
    margin-bottom: 5px; }
  .overview__total-wrapper {
    font-size: 32px;
    line-height: 37.5px; }

  .book__button {
    max-width: 220px; }

  .overview__subtitle,
  .detalization__type {
    font-size: 22px; }

  .detalization__type {
    line-height: 26px; }

  .contacts__map {
    max-width: 60vw; } }
@media (max-width: 1024px) {
  .header,
  section {
    padding: 0 20px; }

  .visiting,
  .explore,
  .video,
  .gallery,
  .tickets,
  .contacts {
    padding: 60px 20px; }

  .header {
    height: 130px;
    font-size: var(--font-size-xl); }
    .header__nav {
      display: none; }
    .header__logo {
      font-family: "Forum", sans-serif; }

  .burger__button {
    display: block; }

  .burger__button.active::after {
    top: 9px;
    transform: rotate(-45deg); }

  .burger__button.active::before {
    top: 9px;
    transform: rotate(45deg); }

  .burger__button.active span {
    display: none; }

  .burger__menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    padding-top: 35px;
    padding-left: 35px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    content: "";
    background-color: #000; }

  .burger__menu__list {
    display: flex;
    flex-direction: column;
    row-gap: 25px; }

  .burger__menu__list li {
    position: relative;
    width: 85px;
    padding-right: 35px; }

  .burger__menu__list li::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 7px;
    height: 12px;
    content: "";
    background-image: url("../assets/img/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translateY(-50%); }

  .welcome__text {
    top: 50px; }
  .welcome__link {
    max-width: 300px;
    height: 60px;
    border-radius: 10px; }

  .text-subtitle {
    margin-bottom: 50px; }

  .underline.text-title {
    margin-bottom: 60px; }

  .visiting__wrapper {
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 330px);
    grid-gap: 62px 0; }
  .visiting__item__img {
    margin-bottom: 23px; }
  .visiting__item__title {
    padding-bottom: 8px;
    letter-spacing: 3px; }
  .visiting__item__title::before {
    width: 150px; }

  .explore__wrapper {
    flex-wrap: wrap;
    gap: 40px 0;
    justify-content: center; }
  .explore__about {
    gap: 0; }
  .explore__img img {
    width: 100%;
    max-width: 720px; }

  .video__header {
    margin-bottom: 20px; }

  .tickets__form {
    padding-left: 80px; }
  .tickets__form__title {
    margin-bottom: 30px;
    font-size: var(--font-size-xl);
    line-height: 33px;
    text-align: left; }
  .tickets__image {
    max-width: 700px; }
  .tickets__amount {
    justify-content: space-between; }

  .detalization__result,
  .detalization__type {
    font-size: 22px; }

  .amount__wrapper {
    margin-bottom: 25px; }
  .amount__wrapper p {
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 26px; }

  .total__price {
    margin-top: 0;
    font-size: var(--font-size-xl);
    line-height: 33px;
    text-align: justify;
    letter-spacing: 1.65px; }

  .contacts__map {
    max-width: 694px; }
  .contacts__info-wrapper {
    max-width: 274px; }
  .contacts .contacts-title {
    margin-bottom: 65px; }

  .info-title {
    max-width: 185px;
    margin-bottom: 35px;
    line-height: 28px; }

  .info-address,
  .info-phone {
    margin-bottom: 15px; }

  .footer {
    padding-top: 65px; }
    .footer__wrapper {
      padding: 0 20px;
      padding-bottom: 25px; }
    .footer__nav {
      padding-left: 45px; }
    .footer__nav-list {
      justify-content: space-between;
      width: 100%;
      max-width: 320px; }

  .social {
    align-self: flex-end;
    height: 48px;
    padding-top: 20px; } }
@media (max-width: 1000px) {
  .tickets__image {
    max-width: 60vw; }

  .contacts__container {
    gap: 0 35px; }

  .contacts__map {
    max-width: 60vw; }

  .footer {
    padding-top: 40px; }
    .footer__wrapper {
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 16px; }
    .footer__nav {
      max-width: 393px;
      padding-left: 105px;
      font-size: 18px; }
    .footer__nav-list {
      max-width: 393px; }
    .footer__nav-list li {
      padding-bottom: 20px; } }
@media (max-width: 900px) {
  .booking__form-wrapper {
    flex-wrap: wrap;
    padding: 30px 5% 10px; }

  .booking__form {
    max-width: none;
    margin-bottom: 50px; }

  .booking__form__date-wrapper {
    margin-right: 25px; } }
@media (max-width: 768px) {
  :root {
    --font-size-xl: 22px;
    --font-size-md: 20px;
    --font-size-sm: 18px;
    --font-size-xs: 16px; }

  .visiting,
  .explore,
  .video,
  .gallery,
  .tickets,
  .contacts {
    padding: 40px 20px; }

  .underline {
    padding-bottom: 23px; }

  .underline.text-title {
    margin-bottom: 36px; }

  .header {
    height: 110px; }

  .main-title {
    padding-top: 12px;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px; }

  .text-title {
    font-size: 40px;
    line-height: 60px; }

  .welcome {
    padding-bottom: 30px; }
    .welcome__text {
      position: static;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto; }
    .welcome .text-title {
      line-height: 60px;
      text-align: center; }
    .welcome__link {
      display: none; }

  .burger__menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 861px;
    padding: 35px;
    overflow: hidden; }
  .burger__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    padding-bottom: 35px;
    border-bottom: 1px solid #fff; }
  .burger__menu__list {
    margin-bottom: 35px; }
  .burger__menu .social {
    display: flex;
    padding: 0;
    padding-top: 35px;
    margin: 0 auto; }
  .burger__gallery-item {
    width: calc(50% - 10px); }
  .burger__gallery-item img {
    width: 100%; }

  .w_100 {
    width: 100%;
    max-width: none; }

  .visiting {
    padding-bottom: 80px; }
    .visiting__wrapper {
      grid-template-columns: repeat(2, 280px);
      grid-gap: 40px 0; }
    .visiting__item__title {
      padding-bottom: 12px;
      line-height: 24px;
      letter-spacing: 3px; }
    .visiting__item__subtitle {
      line-height: 18px; }
    .visiting__item__footer {
      line-height: 19px; }

  .explore__wrapper {
    gap: 0; }
  .explore__about {
    display: none; }
  .explore__text {
    width: 100%;
    margin-bottom: 2px; }
  .explore__img {
    padding-top: 0; }

  .video {
    padding-bottom: 80px; }
    .video__header {
      margin-bottom: 0; }

  .gallery .text-title {
    margin-bottom: 45px; }
  .gallery__img-wrapper {
    max-width: 352px; }

  .picture__container {
    max-height: 1035px; }

  .picture__container-inner {
    gap: 12.5px 25px; }

  .tickets__image {
    max-width: 444px;
    max-height: 340px;
    background-size: contain; }
  .tickets__form {
    padding-left: 60px; }
  .tickets__form__title {
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: bold; }
  .tickets__amount-container {
    margin-bottom: 40px; }
  .tickets__submit {
    font-size: 22px; }

  .booking {
    padding-right: 40px; }
    .booking__header {
      padding-top: 40px;
      font-size: 50px;
      line-height: 55px; }
    .booking__form {
      padding-right: 0; }
    .booking__form-wrapper {
      box-sizing: border-box;
      max-width: 590px;
      padding: 50px 30px;
      margin: 0 auto;
      font-size: 18px; }
    .booking__title {
      margin-bottom: 43px;
      font-size: 18px;
      line-height: 21px; }
    .booking__overview {
      box-sizing: border-box;
      max-height: 665px;
      padding: 25px 15px; }
    .booking__title.underline {
      padding-bottom: 10px; }
    .booking__form__count-wrapper {
      max-height: 135px; }
    .booking__form__date, .booking__form__time {
      max-width: 251px; }
    .booking__form__date-wrapper, .booking__form__time-wrapper {
      max-width: none; }

  .overview__title {
    margin-bottom: 5px; }
  .overview__detalization {
    padding-bottom: 5px; }
  .overview__total-wrapper {
    margin-bottom: 15px; }
  .overview__img {
    margin-bottom: 25px; }

  .tickets__form-wrapper-close {
    top: 0;
    right: 30px; }

  .count__title {
    margin-bottom: 15px; }

  .count__title.underline {
    padding-bottom: 5px; }

  .form__count__item {
    margin-bottom: 15px; }

  .total__price {
    padding-top: 10px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: normal; }

  .parallax {
    height: 300px; }

  .contacts {
    padding-bottom: 68px; }
    .contacts__container {
      flex-wrap: wrap; }
    .contacts__info-wrapper {
      max-width: none;
      margin-bottom: 40px; }
    .contacts__map {
      max-width: none;
      height: 476px; }

  .info-title {
    max-width: 155px; }

  .social {
    height: 48px;
    padding-top: 30px;
    padding-left: 300px; }

  .copyright {
    padding: 40px 20px; }

  .copyright div {
    width: auto; }

  .footer {
    padding-top: 30px; }
    .footer__nav {
      padding-top: 25px; }
    .footer__wrapper {
      justify-content: start; } }
@media (max-width: 700px) {
  .burger__menu {
    height: 100%;
    overflow: visible; }

  .burger__menu__list {
    row-gap: 15px;
    margin-bottom: 20px; }

  .burger__gallery {
    padding-bottom: 20px; }

  .burger__gallery-item img {
    height: 100%;
    object-fit: cover; }

  .burger__gallery-item {
    height: 125px; }

  .burger__menu .social {
    padding-top: 20px; }

  .header__logo {
    width: 100%; }

  .visiting {
    padding-bottom: 40px; }
    .visiting__wrapper {
      grid-template-columns: repeat(2, 40vw);
      grid-gap: 10vw; }
    .visiting__item__title {
      font-size: 18px;
      line-height: 20px; }
    .visiting__item__subtitle {
      font-size: 16px; }

  .picture__container-inner {
    gap: 2vh 3vw; }

  .gallery__img-wrapper {
    max-width: 45vw; }

  .tickets__image {
    width: 100%;
    max-width: none;
    max-height: 300px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover; }
  .tickets__form {
    padding-left: 0; }
  .tickets__form-wrapper, .tickets__form {
    justify-content: center; }

  .tickets__form__title,
  .total__price {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center; }

  .tickets__amount-container {
    margin-bottom: 10px; }

  .amount__wrapper p {
    font-size: 18px; }

  .booking__form__date-wrapper {
    margin-right: 0; }

  .booking__form__date-wrapper,
  .booking__form__time-wrapper {
    width: 45%; }

  .booking__form__date,
  .booking__form__time {
    max-width: none; }

  .overview__img::before,
  .overview__img::after {
    width: 50vw;
    background-repeat: no-repeat;
    background-size: contain; }

  .contacts {
    padding-bottom: 40px; }

  .contacts__map {
    height: auto; }

  .social {
    gap: 15px;
    justify-content: center;
    padding-left: 0;
    margin: 0 auto; }

  .footer__nav {
    padding-top: 40px;
    padding-left: 0; } }
@media (max-width: 420px) {
  :root {
    --font-size-md: 18px;
    --font-size-sm: 16px; }

  .header {
    height: 90px; }

  .main-title {
    padding-top: 0;
    padding-left: 25px;
    font-size: var(--font-size-sm);
    line-height: 18px; }

  .logo__img {
    width: 29px; }

  .text-title {
    font-size: 28px;
    line-height: 40px; }

  .welcome .text-title {
    padding-top: 6px;
    font-size: 28px;
    line-height: 40px; }

  .explore__text {
    margin-bottom: 0; }

  .text-subtitle {
    font-size: 16px;
    line-height: 19px; }

  .burger__menu {
    padding-top: 35px; }
  .burger__gallery {
    gap: 0 5%; }
  .burger__menu__list {
    row-gap: 25px;
    margin-bottom: 35px; }
  .burger__menu .social {
    padding-top: 25px; }
  .burger__gallery-item {
    width: 30%;
    height: 91px; }

  .visiting__wrapper {
    grid-template-rows: 295px;
    grid-template-columns: 280px;
    grid-gap: 40px; }
  .visiting__item__title {
    letter-spacing: 5px; }
  .visiting__item__img {
    margin-bottom: 20px; }

  .underline.text-title {
    margin-bottom: 40px; }

  .video {
    padding-top: 30px;
    padding-bottom: 40px; }

  .video__header__title {
    margin-bottom: 20px; }

  .picture__container {
    max-height: 590px; }

  .picture__container-inner {
    gap: 2vh 5vw;
    max-height: 1000px; }

  .gallery__img-wrapper {
    max-width: 42vw; }

  .gallery__img-wrapper:nth-child(11) {
    padding-top: 0; }

  .tickets__image {
    max-height: 160px;
    margin-bottom: 40px; }
  .tickets__amount-container {
    margin-bottom: 20px; }
  .tickets__submit {
    font-size: 16px; }
  .tickets__form-wrapper-close {
    right: 10px; }

  .tickets__form__title,
  .total__price,
  .amount__wrapper p {
    font-size: 16px;
    line-height: 19px; }

  .amount__wrapper {
    margin-bottom: 20px; }

  .amount__wrapper p {
    margin-bottom: 15px; }

  .total__price {
    padding-top: 20px; }

  .booking__form-wrapper {
    padding: 55px 10px 10px; }
  .booking__header {
    font-size: 32px;
    line-height: 35px; }
  .booking__overview {
    max-height: none; }
  .booking__form__moment {
    flex-wrap: wrap;
    gap: 20px; }
  .booking__form__date-wrapper, .booking__form__time-wrapper {
    width: 100%; }

  .form__count__item {
    margin-bottom: 18px; }

  .overview__info__img {
    max-width: 120px;
    height: 96px;
    background-size: cover; }
  .overview__img {
    height: 442px;
    margin-bottom: 40px; }
  .overview__img::before {
    max-height: none;
    background-image: url("../assets/img/visa_back_small.webp");
    background-size: contain; }
  .overview__img::after {
    background-image: none; }
  .overview__img::before, .overview__img::after {
    width: 100%; }

  button__minus, button__plus {
    width: 28%; }
  button__button {
    font-size: 20px;
    line-height: 23px; }
  button__minus::before, button__plus::before {
    width: 18px; }
  button__plus::after {
    height: 18px; }

  .info-title {
    max-width: 125px;
    margin-bottom: 45px;
    font-size: var(--font-size-sm);
    line-height: 17px; }

  .footer {
    padding-top: 37px;
    padding-bottom: 40px;
    font-size: 16px; }
    .footer .main-title {
      padding-left: 20px; }
    .footer__nav {
      margin-bottom: 5px;
      font-size: 16px; }
    .footer__nav-list {
      flex-direction: column;
      align-content: space-between;
      height: 75px; }
    .footer__nav-list li {
      width: 20%;
      padding: 0; }
    .footer__wrapper {
      padding-bottom: 20px; }

  .social {
    gap: 5px; }
    .social li {
      box-sizing: border-box; }
    .social li a {
      padding-top: 5px; }

  .copyright {
    padding-bottom: 0; }

  .copyright__school {
    display: none; }

  .box1 {
    order: 1; }
  .box3 {
    order: 2; }
  .box5 {
    order: 2; }
  .box2, .box4, .box6 {
    order: 3; } }
@media (max-width: 400px) {
  .burger__menu__list {
    row-gap: 20px; }
  .burger__menu {
    padding: 0;
    padding-top: 15px; }
  .burger__menu .social {
    padding-top: 10px; }

  .overview__info__img {
    display: none; }

  .overview__img {
    height: 241px; }

  .form__count__item {
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center; }

  .booking__form__count-wrapper {
    max-height: none; }

  .footer__nav-list li {
    width: 30%; } }

/*# sourceMappingURL=media.css.map */
